* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    background-color: #1A1A1C;
    color: #FFFFFF;
}

.title {
    margin-bottom: 20px;
}

.controls {
    margin-bottom: 20px;
}

.controls>* {
    padding: 6px;
    background: transparent;
    border: 1px solid white;
    color: white;
}

:not(.controls>*:last-child) {
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
}

tr {
    border-bottom: 1px solid #ddd;
}

td {
    padding: 12px; 
}